section#footer(class=`pt-2 pb-12 lg:pb-0`)
  .container(class=`mx-auto px-10 flex flex-col items-center`)
   div(class="container_text")
     div(class="flex flex-col lg:flex-row items-center container_disclosure")
      div(class="w-full")
        img(class="mx-auto lg:ml-0", src="/../media/images/BBLogo.png", alt="Bruin Business Logo", width="200", height="200" ) 
      div(class="mt-10 lg:mt-0 ml-0 lg:ml-20 max-w-2xl")
        p Atala Financial Inc is an investment adviser registered with the Securities & Exchange Commission.  Registration as an investment adviser does not imply a certain level of skill or training. For information pertaining to the registration status of our firm, you may refer to the Investment Adviser Public Disclosure website (www.adviserinfo.sec.gov).
        br
        p For additional information about Atala Financial including fees and services, send for our disclosure brochure as set forth on Form ADV using the contact information herein. Please read the disclosure statement carefully before you invest or send money.

   div(class="container_text") 
    div(class="flex flex-col lg:flex-row items-center justify-center")
      a(class=`btn_summary text-white py-2 px-4`, href="/../media/pdf/AtalaFinancialPrivacyPolicy.pdf", target="_blank" ) Atala Financial Privacy Policy
      a(class=`btn_summary text-white py-2 px-4 mt-4 ml-0 lg:ml-5 lg:mt-0`, href="/../media/pdf/AtalaFinancialFormADV2A.pdf", target="_blank" ) Atala Financial Form ADV2 A
      a(class=`btn_summary text-white py-2 px-4 mt-4 ml-0 lg:ml-5 lg:mt-0`, href="/../media/pdf/FormCRSRelationshipSummary.pdf", target="_blank" ) Form CRS Relationship Summary
    //- p(class="copyright_dsk") ©2021 Atala Financial
    div(class="container_navlinks_social_dsk flex flex-row justify-between" )
     div(class="container_navlinks_dsk ")
      p(class="copyright_dsk") ©2022 Atala Financial

      //- ul(class="nav_links_dsk flex justify-between flex-row" )
      //-  li 
      //-   a(href="/#hero", target="_blank") Home
      //-  li 
      //-   a(href="/#about", target="_blank") About 
      //-  li 
      //-   a(href="/#hero", target="_blank") Contact
     div(class="container_social_icons_dsk ")
      ul(class="social-icons-dsk flex justify-between items-center flex-row" )
       li
        a(href="https://www.facebook.com/atalafinancial", target="_blank")
         img(src="/../media/images/social/facebook.svg", alt="facebook")
       li
        a(href="https://www.linkedin.com/company/atala-financial/about/", target="_blank")
         img(src="/../media/images/social/linkedin.svg", alt="linkedin") 
      //-  li
      //-   a(href="/", target="_blank")
      //-    img(src="/../media/images/social/twitter.svg", alt="twitter")
      //-  li
      //-   a(href="/", target="_blank")
      //-    img(src="/../media/images/social/instagram.svg", alt="instagram")  
    ul(class=`social-icons-mbl flex justify-evenly flex-row` )
     li
      a(href="https://www.facebook.com/atalafinancial", target="_blank")
       img(src="/../media/images/social/facebook.svg", alt="facebook")
     li
      a(href="https://www.linkedin.com/company/atala-financial/about/", target="_blank")
       img(src="/../media/images/social/linkedin.svg", alt="linkedin") 
    //-  li
    //-   a(href="/", target="_blank")
    //-    img(src="/../media/images/social/twitter.svg", alt="twitter")
    //-  li
    //-   a(href="/", target="_blank")
    //-    img(src="/../media/images/social/instagram.svg", alt="instagram")     
  div(class=`divider_mbl` )
    p(class="copyright_mbl pt-6" ) ©2022 Atala Financial