section#hero(class=`py-12`)
  
  .container(class=`mx-auto px-10 flex flex-col items-center `)
   div(class="container_text_hero")
    div(class="container_logo" data-aos="zoom-in")
     a(href="#")
      img(src="/../media/images/logo_atala.svg", alt="logo_atalaf", class=`logo_hero `)
    p(data-aos="zoom-in") Dedicated to providing the education, tools and guidance needed to solve life’s enduring financial challenges!
    p(data-aos="zoom-in") Let's discuss how Atala Financial can help you.
    a(class=`btn_hero text-white py-2 px-4 uppercase`, href="mailto:shawn@atalafinancial.com" data-aos="zoom-in") Contact Us