extends layouts/main.pug

block head
  - let pageName = `Home`

block content
  include partials/_hero.pug
  include partials/_about.pug
  include partials/_commitment.pug
  include partials/_team.pug
  include partials/_footer.pug
  
  
