@tailwind base;
@tailwind components;
@import "_typo";

@import "_menu";
@import "styles";

.container{
    margin: 0 auto;
    max-width: 450px;
    @media(min-width: 992px){
        max-width: 1440px;
    }
}

@tailwind utilities;

//sections
@import "_hero";
@import "_about";
@import "_commitment";
@import "_team";
@import "_footer";

